name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    name: Gleam ${{ matrix.gleam }} / OTP ${{ matrix.otp }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        otp: ["28"]
        gleam: ["1.13", "1.14"]
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          gleam-version: ${{ matrix.gleam }}
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test
      - run: gleam format --check src test
